body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

h1 {
    font-size: 60px;
}

img {
    height: 600px;
}

#img2 {
    height: 600px;
}

.iam {
    color: black;
    text-align: justify;
    width: 60%;
}

.divs {
    padding-left: 5%;
    padding-right: 05%;
    width: 100%;
}

.HIREME {
    background-color: coral;
    text-decoration: none;
    background-image: linear-gradient();
    padding: 5px;
    border-radius: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}

.SKY {
    color: chocolate;
}

.sec1 {
    display: inline-flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.sec2 {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}