body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

h1 {
    font-size: 60px;
}


.name {
    color: chocolate;
}


img {
    height: 600px;
}

#img2 {
    height: 600px;
}

.iam {
    color: black;
    text-align: justify;
    width: 60%;
}

.divs {
    padding-left: 5%;
    padding-right: 05%;
    width: 100%;
}

.div3 {
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px #6C3483;
    border-radius: 10px;


}

.HIREME {
    background-color: coral;
    text-decoration: none;
    background-image: linear-gradient();
    padding: 5px;
    border-radius: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}

.sec1 {
    display: inline-flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}

.sec2 {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 150px;

    padding-left: 50px;
}

.lastdiv {
    display: flex;
    margin-bottom: 150px;
}

.sec3 {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 5%;

}

h2 {
    text-align: center;
}

#baby {
    border-left: 10px solid blue;
}

#full {
    border-left: 10px solid rgba(224, 36, 36, 0.548);
}

footer p {
    text-align: center;
    box-shadow: 10px 10px teal;
}